/* Colors
 * Magenta
    Text - #f0f
    Solids - #c0f
*/
body {
    background-color: #181818;
}

header {
    width: 40%;
    text-align: center;
    margin: auto;
    
    background-image: linear-gradient(to bottom, #f0f, #c0f);
}

article {
    width: 80%;
    margin: auto;

    color: #f0d;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    text-align: center;

    background-image: linear-gradient(to bottom, #f0f, #c0f);
}

button {
    background-color:#818181;
    border: none;
    color: white;
    padding: 3px;
    border-radius: 12px;
    transition-duration: 0.1s;
    width: 200px;
    margin: 15px;
}

button:hover{
    background-color: cyan;
    color:black;
    box-shadow: 0 7px #008b8b;
  }