body {
    background-color: #181818;
}

header {
    width: 40%;
    text-align: center;
    margin: auto;

    background-color: #0ff;
}

article {
    width: 80%;
    margin: auto;

    color: #0ff;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    text-align: center;

    background-color: #0ff;
}