.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.closebtn{
    color:#818181;
    text-decoration: none;
}

.closebtn:hover{
    color: #f4f;
    text-decoration: none;
}

.overlay-content {
    position: relative;
    top: 8%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

nav button {
    background-color:#181818;
    border: solid #181818 4px;
    color: #f4f;
    font-size: 0px;
    padding: 12px;
    transition-duration: 0.5s;
    width: 75%;
    margin: 10% 12.5%;
    position: relative;
}

nav button:hover{
    background-color: #f4f;
    border-color: #b0b;
    color: #181818;
}

img {
    width: 16%;
    padding: 1% 2% 2% 2%;
}