body {
    font-family: 'Lato', sans-serif;
}
  
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 20%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

nav button {
    background-color:#181818;
    border: solid #181818 2px;
    color: #f4f;
    padding: 4px 12px;
    border-radius: 12px;
    transition-duration: 0.1s;
    margin: 15px;
    position: relative;
}

nav button:hover{
    background-color: #f4f;
    border: solid #b0b 2px;
    color: #181818;
}

.closebtn{
    color:#818181;
    text-decoration: none;
}
.closebtn:hover{
    color: #f4f;
    text-decoration: none;
}
  